@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: XWingShip;
  src: url('../fonts/xwing-miniatures-ships.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@brown-red: #450D29;
@blue: #211032;

html{
    background: linear-gradient(135deg, @blue 0%, @blue 50%, @brown-red 100%);
    background-attachment: fixed;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

header{
    color: white;
    width: 100%;
    padding: 2rem 0 0 0;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    font-weight: 100;

    .logo{
        width: 100%;
        text-align: center;
        margin: 1.5rem;
        &:before{
            padding: 1rem;
            border-radius: 50%;
            border: 3px solid white;
            content:'x';
            font-family: XWingShip;
            font-size: 13rem;
            width: 100%;
            height: 1px;
        }
    }
    .title {
        width: 100%;
        font-weight: 300;

        .title-text{
            font-size: 2.75rem;
            display: inline-block;
        }
    }

    a{
        color: white;
        margin: 0 1rem 0 0;
    }
}

.skills{
    width: 100%;
    margin: 4rem 0 4rem 0;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .sk{
        line-height: 24px;
        margin-top: 1rem;
        .fa{
            width: 100%;
            font-size: 4rem;
            font-weight: 300;
            margin: 1rem 0 1rem 0;
        }

        .fa-calendar-plus-o{
            color: #fb3;
        }
        .fa-file-text-o{
            color: #40AD52;
        }

        .fa-life-ring{
            color: #EF767A;
        }

        .fa-list{
            color: #38AECC;
        }

        a{
            color: white;
        }
        text-align: center;
        padding: 0.5rem;
        width: 240px;
        min-height: 310px;
        color: white;
        border: 2px solid white;
        border-radius: 3px;
    }
}

.about-me{
    h2{
        margin: 1.5rem 0 1rem 0;
    }
    font-size: 1.05rem;
    background-color: white;
    padding: 2rem;
    max-width: 1024px;
}

@media (max-width: 1024px){
    body{
        padding: 1rem;
    }
} 