@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@font-face {
  font-family: XWingShip;
  src: url('../fonts/xwing-miniatures-ships.ttf');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
html {
  background: #211032 linear-gradient(135deg, #211032 0%, #211032 50%, #450D29 100%);
  background-attachment: fixed;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}
header {
  color: white;
  width: 100%;
  padding: 2rem 0 0 0;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
  font-weight: 100;
}
header .title {
  width: 671px;
  margin: 0 auto 20px;
  overflow: hidden;
}
header .title-logo {
  float: left;
  display: block;
  width: 268px;
  height: 338px;
  margin: 0;
  background: url('../img/logo-xw-lrg.png') 0 0 no-repeat;
  background-size: 100%;
}
header .title-text {
  float: right;
  display: block;
  width: 363px;
  height: 207px;
  margin-top: 105px;
  background: url('../img/logo-txt-lrg.png') 0 0 no-repeat;
  background-size: 100%;
  /* Hide the text */
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999em;
}
@media screen and (max-width: 765px) {
  header .title { width: 418px; }
  header .title-logo { width: 171px; height: 216px; }
  header .title-text { width: 227px; height: 130px; margin-top: 70px; }
}
@media screen and (max-width: 526px) {
  header .title { width: 100%; }
  header .title-logo { float: none; margin: 0 auto; }
  header .title-text { float: none; margin: 20px auto 0; }
}
header a {
  color: white;
  margin: 0 1rem 0 0;
}
header nav {
  width: 100%;
  text-align: center;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  background: #442C5B;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.6);
  border-radius: 3px;
  line-height: 40px;
  padding: 0 20px;
  margin: 5px;
}
header nav a:focus,
header nav a:hover {
  background: #6E518A;
}
.skills {
  width: 100%;
  margin: 4rem 0 4rem 0;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills .sk {
  line-height: 24px;
  margin-top: 1rem;
  text-align: center;
  padding: 0.5rem;
  width: 240px;
  min-height: 310px;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
}
.skills .sk .fa {
  width: 100%;
  font-size: 4rem;
  font-weight: 300;
  margin: 1rem 0 1rem 0;
}
.skills .sk .fa-calendar-plus-o {
  color: #fb3;
}
.skills .sk .fa-file-text-o {
  color: #40AD52;
}
.skills .sk .fa-life-ring {
  color: #EF767A;
}
.skills .sk .fa-list {
  color: #38AECC;
}
.skills .sk .fa-heartbeat {
  color: #DD0000;
}
.skills .sk .fa-wrench {
  color: #CC00CC;
}
.skills .sk a {
  color: white;
}
.latest {
  position: relative;
  background-color: white;
  max-width: 1024px;
}
.latest .header {
  padding: 2rem;
  border-bottom: 1px solid #ddd;
}
.latest .header h2 {
  font-size: 2rem;
  font-weight: 600;
}
.latest .header time {
  color: #999;
}
.latest .content {
  padding: 2rem;
}
.latest .content * + * {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  body {
    padding: 1rem;
  }
}
